<div id="online_status_<%= room.id %>_<%= user.id %>" class="btn btn-s-md btn-<%= user.online_in_this_room?(room) ? 'success' : 'default' %> btn-rounded pull-right">
  <%= user.online_in_this_room?(room) ? 'online' : 'offline' %>
</div>
