<% if message.able_to_edit? %>
  <span class="display-none display-<%= message&.user_id %>"
        style="position: absolute;
              margin-left: -25%;">
  <%= link_to 'Edit', edit_message_url(message) %>
  </span>  
<% end %>

<%= turbo_frame_tag 'delete_message_options' do %>
  <% unless message.deleted? %>
    <span style="position: absolute;
                 margin-left: -18%;">
      <%= link_to 'Delete',  delete_message_options_url(message_id: message.id ) %>
    </span>  
  <% end %>  
<% end %>
