     <section class="vbox">
        <section>
            <section class="hbox stretch">
                <section id="content">
                    <section class="vbox">
                        <section class="scrollable bg-white">
                            <div class="tab-content">
                            <% @users.each do |user| %>
                            <% next if user == current_user %>
                            <%= render user %>
                            <% end %>    
                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>