<section id="content" class="m-t-lg wrapper-md animated fadeInDown">
    <div class="container aside-xl">
        <a class="navbar-brand block">WeConekt</a>
        <section class="m-b-lg">
            <header class="wrapper text-center">
                <strong>Edit Profile</strong>
            </header>

            <%= render 'form', user: @user, url: edit_user_url(current_user) %>
        </section>
    </div>
</section>      