<%= turbo_stream_from [:ping, current_user.id] %>
<%= turbo_frame_tag [:ping, current_user.id] %>

<% if @users.any? %>
  <%= render 'users'  %>
<% else %>
  <h4><%= link_to current_user&.username, current_user %>, no one available to connect with :( ...</h4>
<% end %>