<% if current_user %>
    <span>
      <%= link_to 'Go here to connect with people', users_path, class: 'pull-right btn btn-s-md btn-dark btn-rounded' %>
      <%= link_to 'Edit Profile', edit_user_path(current_user), class: 'pull-right btn btn-s-md btn-dark btn-rounded' %>
    </span>  
    <section class="vbox">
        <section>
            <section class="hbox stretch">
                <section id="content">
                    <section class="vbox">
                        <section class="scrollable">
                            <section class="hbox stretch">
                                <aside class="aside-lg bg-light lter b-r">
                                    <section class="vbox">
                                        <section class="scrollable">
                                            <div class="wrapper">
                                                <section class="panel no-border bg-primary lt">
                                                    <div class="panel-body">
                                                        <div class="row m-t-xl">                                                               
                                                            <div class="text-center">
                                                                <div class="inline">
                                                                    <div
                                                                        class="easypiechart"
                                                                        data-percent="75"
                                                                        data-line-width="6"
                                                                        data-bar-color="#fff"
                                                                        data-track-Color="#2796de"
                                                                        data-scale-Color="false"
                                                                        data-size="140"
                                                                        data-line-cap="butt"
                                                                        data-animate="1000"
                                                                    >
                                                                        <div class="thumb-lg avatar"><img src="<%= image_url('profile_photo.png') %>" class="dker" /></div>
                                                                    </div>
                                                                    <div class="h4 m-t m-b-xs font-bold text-lt"><%= current_user.name || current_user.username %></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <footer class="panel-footer dk text-center no-border">
                                                        <div class="row pull-out">
                                                            <div class="col-xs-4">
                                                                <div class="padder-v"><span class="m-b-xs h3 block text-white">245</span> <small class="text-muted">Connects</small></div>
                                                            </div>
                                                            <div class="col-xs-4 dker">
                                                                <div class="padder-v"><span class="m-b-xs h3 block text-white">55</span> <small class="text-muted">Followers</small></div>
                                                            </div>
                                                            <div class="col-xs-4">
                                                                <div class="padder-v"><span class="m-b-xs h3 block text-white">2,035</span> <small class="text-muted">Following</small></div>
                                                            </div>
                                                        </div>
                                                    </footer>
                                                </section>
                                            </div>
                                        </section>
                                    </section>
                                </aside>
                            </section>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
<% end %>    