<span class="button_to" style="display: inherit;">
<%= link_to 'Join Room', room_path(room_id),
                                            data: {
                                              turbo: false,
                                            },
                                            class: 'btn btn-s-sm btn-dark btn-rounded' %>
</span>