<h1>Rooms</h1>    
<section class="vbox">
    <section>
        <section class="hbox stretch">
            <section id="content">
                <section class="vbox">
                    <section class="scrollable bg-white">
                        <div class="tab-content">
                        <% @rooms.all.each do |room| %>
                            <ul class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">
                                <li class="list-group-item">
                                        <strong class="block">
                                          <p>name: <%= room.name %></p>
                                          <p>type: <%= room.room_type %></p>
                                        </strong>
                                    </a>
                                </li>
                            </ul>
                        <% end %>    
                        </div>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
